### DataTypes in Python : 
1) Introduction to DataTypes 
2) Importance of Data Types in Programming
3) Basic Data Types 
    - Integers 
    - Floating Point Numbers 
    - String 
    - Booleans
4) Advanced Data Types 
    - Lists 
    - Tuples 
    - Sets 
    - Dictionaries
5) Type Conversions 
6) Practical Example

In [1]:
## Integers Example 
age = 35 
type(age)

int

In [2]:
## Floating Point Data Types 
height = 5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [3]:
## String data types example 
name  = "Rahul"
print(name)
print(type(name))

Rahul
<class 'str'>

In [5]:
# Boolean Data Types 
is_true = True
print(type(is_true))

<class 'bool'>

In [6]:
# Common Errors 
result  = "Hello" + 5
print(result)

TypeError: can only concatenate str (not "int") to str

In [7]:
# To Avoid the Error 
result = "Hello" + str(5)
print(result)

Hello5